name: Build Docker image on upstream release

on:
  schedule:
    - cron: '0 */6 * * *'   # каждые 6 часов
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install jq
        run: sudo apt-get update && sudo apt-get install -y jq

      - name: Get latest upstream release
        id: upstream
        run: |
          TAG=$(curl -s https://api.github.com/repos/telemt/telemt/releases/latest \
            | jq -r .tag_name)

          if [ "$TAG" = "null" ] || [ -z "$TAG" ]; then
            echo "No releases found"
            exit 1
          fi

          echo "Latest upstream tag: $TAG"
          echo "tag=$TAG" >> $GITHUB_OUTPUT

      - name: Read last built version
        id: local
        run: |
          echo "tag=$(cat .last_version)" >> $GITHUB_OUTPUT

      - name: Compare versions
        id: compare
        run: |
          if [ "${{ steps.upstream.outputs.tag }}" = "${{ steps.local.outputs.tag }}" ]; then
            echo "No new release"
            echo "changed=false" >> $GITHUB_OUTPUT
          else
            echo "New release detected"
            echo "changed=true" >> $GITHUB_OUTPUT
          fi

      - name: Login to Docker Hub
        if: steps.compare.outputs.changed == 'true'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        if: steps.compare.outputs.changed == 'true'
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        if: steps.compare.outputs.changed == 'true'
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          build-args: |
            APP_VERSION=${{ steps.upstream.outputs.tag }}
          tags: |
            docker.io/a7lanov/telemt:${{ steps.upstream.outputs.tag }}
            docker.io/a7lanov/telemt:latest

      - name: Update stored version
        if: steps.compare.outputs.changed == 'true'
        run: |
          echo "${{ steps.upstream.outputs.tag }}" > .last_version

      - name: Commit updated version
        if: steps.compare.outputs.changed == 'true'
        run: |
          git config user.name "a7lan"
          git config user.email "as_lan@bk.ru"

          if git diff --quiet .last_version; then
            echo "No changes to commit"
            exit 0
          fi

          git add .last_version
          git commit -m "Build image for ${{ steps.upstream.outputs.tag }}"
          git push
